<%# https://codepen.io/abbeyjfitzgerald/pen/wgXWpm %>  
<div class="container" style="margin-top: 52px; padding-left: 1px; padding-right: 1px;">
    <section class="cards">  
        <article class="card">
            <div class="imageBoxFront" style="padding: 1px 0px;">
                <a href="#">
                    <div>
                        <img src="../../splash/Couple-Main-BW.jpg" id="picturemainbw" class="image-responsive" />
                    </div>
                    <div class="hoverImg" style="padding: 1px 0px;">
                        <img src="../../splash/Couple-Main-C.jpg" id="picturemainc" class="image-responsive" />
                    </div>
                    <%#<div class="card-content">
                        <p class="p-centered">Details</p>
                    </div><!-- .card-content --> %>
                </a>
            </div>
        </article><!-- .card -->
    </section><!-- .cards 1st row single pic--> 

    <section class="cards smalls">    
        <article class="card small">
            <div class="imageBoxFront" style="padding: 1px 1px 1px 0px;">
                <a href="#">
                    <div>
                        <img src="../../splash/Couple-1-BW.jpg" id="picture1bw" class="image-responsive" />
                    </div>
                    <div class="hoverImg" style="padding: 1px 1px 1px 0px;">
                        <img src="../../splash/Couple-1-C.jpg" id="picture1c" class="image-responsive" />
                    </div>
                </a>
            </div>
        </article><!-- .card -->
        <article class="card small">
            <div class="imageBoxFront" style="padding: 1px;">
                <a href="#">
                    <div>
                        <img src="../../splash/Couple-2-BW.jpg" id="picture2bw" class="image-responsive" />
                    </div>
                    <div class="hoverImg" style="padding: 1px;">
                        <img src="../../splash/Couple-2-C.jpg" id="picture2c" class="image-responsive" />
                    </div>
                </a>
            </div>
        </article><!-- .card -->
        <article class="card small">
            <div class="imageBoxFront" style="padding: 1px 0px 1px 1px;">
                <a href="#">
                    <div>
                        <img src="../../splash/Couple-3-BW.jpg" id="picture3bw" class="image-responsive" />
                    </div>
                    <div class="hoverImg" style="padding: 1px 0px 1px 1px;">
                        <img src="../../splash/Couple-3-C.jpg" id="picture3c" class="image-responsive" />
                    </div>
                </a>
            </div>
        </article><!-- .card -->
    </section><!-- .cards 2nd row 3 pics-->

    <section class="cards smalls">    
        <article class="card small">
            <div class="imageBoxFront" style="padding: 1px 1px 1px 0px;">
                <a href="#">
                    <div>
                        <img src="../../splash/Couple-4-BW.jpg" id="picture4bw" class="image-responsive" />
                    </div>
                    <div class="hoverImg" style="padding: 1px 1px 1px 0px;">
                        <img src="../../splash/Couple-4-C.jpg" id="picture4c" class="image-responsive" />
                    </div>
                </a>
            </div>
        </article><!-- .card -->
        <article class="card small">
            <div class="imageBoxFront" style="padding: 1px;">
                <a href="#">
                    <div>
                        <img src="../../splash/Couple-5-BW.jpg" id="picture5bw" class="image-responsive" />
                    </div>
                    <div class="hoverImg" style="padding: 1px;">
                        <img src="../../splash/Couple-5-C.jpg" id="picture5c" class="image-responsive" />
                    </div>
                </a>
            </div>
        </article><!-- .card -->
        <article class="card small">
            <div class="imageBoxFront" style="padding: 1px 0px 1px 1px;">
                <a href="#">
                    <div>
                        <img src="../../splash/Couple-6-BW.jpg" id="picture6bw" class="image-responsive" />
                    </div>
                    <div class="hoverImg" style="padding: 1px 0px 1px 1px;">
                        <img src="../../splash/Couple-6-C.jpg" id="picture6c" class="image-responsive" />
                    </div>
                </a>
            </div>
        </article><!-- .card -->
    </section><!-- .cards 3rd row 3 pics -->

    <section class="cards">  
        <article class="card">
            <div class="imageBoxFront" style="padding: 1px 0px;">
                <a href="#">
                    <div>
                        <img src="../../splash/Couple-7-BW.jpg" id="picture7bw" class="image-responsive" />
                    </div>
                    <div class="hoverImg" style="padding: 1px 0px;">
                        <img src="../../splash/Couple-7-C.jpg" id="picture7c" class="image-responsive" />
                    </div>
                </a>
            </div>
        </article><!-- .card -->
    </section><!-- .cards 4th row single pic-->  
</div>