// colors

$main-text: #333; // main text
$background: #fff; // body background color

$color-1: #f2ecbd; // yellow
$color-2: #f25f5c; // red
//$color-3: #8abeb2; // blue
$color-3: #eeeeee; //jumbotron
$color-4: #5c4b51; // purple-dark

$color-dan-bg: #9095bb;
$color-nicole-bg: #738231;
$color-mladen-bg: #00425f;
$color-emi-bg: #5699cd;
$color-maria-bg: #576582;
$color-jon-bg: #cf6152;
$color-steve-bg: #1a2537;
$color-sofia-bg: #063848;

$color-bong-bg: #032213;
$color-philo-bg: #181e14;
$color-yarko-bg: #2e4f7b;
$color-marie-bg: #024d91;


// fonts 

//$primary-font: 'Droid Serif', serif;
//$secondary-font: 'Droid Sans', sans-serif;

$primary-font: 'Karla';
$secondary-font: 'Karla';
$tertiary-font: 'Suranna';

// z-index

$close-bio: 3;
$main-zindex: 2;
$bio-zindex: 1;

// Width of the hidden author bio section

$bio-width-S: 270px; // > 320px - see partials > _layout.scss
$bio-width-M: 600px; // > 768px
$bio-width-L: 800px; // > 1200px