////////////////NAVBAR/////////////////

$color-link:          #ffffff;//#ffffff;
$color-link-hover:    #b3b3b3;
$color-bg:            #808080;//#222222;
$color-bg-border:     #ffffff;//#090909;

$color-toggle:        #ffffff;
$color-bg-toggle:     #808080;
$color-toggle-border: #ffffff;

$font-nav-items:      'Questrial';

$color-details-nav:   #ffffff;//#101010;