<% content_for :title do %>Details<% end %>

<div class="jumbotron">
  <h1 class="bongsky-title">Details</h1>
  <p class="bongsky-p">
    August 18, 2018
  </p>
  <p class="bongsky-p" id="details-p">
    Click an icon below for directions:
  </p>

  <div class="row-map-icons no-gutter image-responsive-map-container">
    <div class="col-xs-4 imageBox" style="padding: 1px 1px 1px 0px;">
      <img src="../../details/Church_Details.png" id="churchicon" class="image-responsive" style="height: 66px;  cursor:pointer;" />
    </div>
    <div class="col-xs-4 imageBox">
      <img src="../../details/Reception_Details.png" id="foodicon" class="image-responsive" style="height: 66px; cursor:pointer;" />
    </div>
    <div class="col-xs-4 imageBox" style="padding: 1px 0px 1px 1px;">
      <img src="../../details/Bed_Details.png" id="bedicon" class="image-responsive" style="height: 66px; cursor:pointer;" />
    </div>
  </div>
  <div class="row-map-icons no-gutter image-responsive-map-container">
    <div class="col-xs-4 imageBox" style="height: 25px;">
      <a>
        <p class="nav-item-font" id="churchtext" style="font-size: 14px; cursor:pointer; color: #222222!important;">
          Ceremony
        </p>
      </a>
    </div>
    <div class="col-xs-4 imageBox" style="height: 25px;">
      <a>
        <p class="nav-item-font" id="receptiontext" style="font-size: 14px; cursor:pointer; color: #222222!important;">
          Reception
        </p>
      </a>
    </div>
    <div class="col-xs-4 imageBox" style="height: 25px;">
      <a>
        <p class="nav-item-font" id="accomodationstext" style="font-size: 14px; cursor:pointer; color: #222222!important;">
          Hotel
        </p>
      </a>
    </div>
  </div>

  <div style='width: 100%; height: 550px;'>
    <div id="sidebar_builder" style="width: 100%; height: 100%;"></div>
  </div>
  <div id='sidebar_container'>
  </div>

  <section id="cd-team" class="cd-section">
      <div class="cd-container">
        <h2>Meet the wedding party!</h2>
        <ul>
          <li class="star">
            <a href="#0" data-type="member-1">
              <figure>
                <img src="../../../details/Portraits/team-member-1.jpg" alt="Team member 1">
                <div class="cd-img-overlay"><span>View Bio</span></div>
              </figure>

              <div class="cd-member-info">
                Steve <span>Best Man</span>
              </div> <!-- cd-member-info -->
            </a>
          </li>
          <li class="star">
            <a href="#0" data-type="member-5">
              <figure>
                <img src="../../../details/Portraits/team-member-1.jpg" alt="Team member 1">
                <div class="cd-img-overlay"><span>View Bio</span></div>
              </figure>

              <div class="cd-member-info">
                Nicole <span>Maid Of Honour</span>
              </div> <!-- cd-member-info -->
            </a>
          </li>
          
          <li class="star">
            <a href="#0" data-type="member-2">
              <figure>
                <img src="../../../details/Portraits/team-member-1.jpg" alt="Team member 1">
                <div class="cd-img-overlay"><span>View Bio</span></div>
              </figure>

              <div class="cd-member-info">
                Mladen <span>Groomsman</span>
              </div> <!-- cd-member-info -->
            </a>
          </li>

          <li class="star">
            <a href="#0" data-type="member-6">
              <figure>
                <img src="../../../details/Portraits/team-member-1.jpg" alt="Team member 1">
                <div class="cd-img-overlay"><span>View Bio</span></div>
              </figure>

              <div class="cd-member-info">
                Emi <span>Bridesmaid</span>
              </div> <!-- cd-member-info -->
            </a>
          </li>

          <li class="star">
            <a href="#0" data-type="member-3">
              <figure>
                <img src="../../../details/Portraits/team-member-1.jpg" alt="Team member 1">
                <div class="cd-img-overlay"><span>View Bio</span></div>
              </figure>

              <div class="cd-member-info">
                Jon <span>Groomsman</span>
              </div> <!-- cd-member-info -->
            </a>
          </li>

          <li class="star">
            <a href="#0" data-type="member-7">
              <figure>
                <img src="../../../details/Portraits/Sofia_Portrait.jpg" alt="Sofia">
                <div class="cd-img-overlay"><span>View Bio</span></div>
              </figure>

              <div class="cd-member-info">
                Sofia <span>Bridesmaid</span>
              </div> <!-- cd-member-info -->
            </a>
          </li>

          <li class="star">
            <a href="#0" data-type="member-4">
              <figure>
                <img src="../../../details/Portraits/Dan_Portrait.jpg" alt="Team member 1">
                <div class="cd-img-overlay"><span>View Bio</span></div>
              </figure>

              <div class="cd-member-info">
                Dan <span>Groomsman</span>
              </div> <!-- cd-member-info -->
            </a>
          </li>

          <li class="star">
            <a href="#0" data-type="member-8">
              <figure>
                <img src="../../../details/Portraits/team-member-1.jpg" alt="Team member 1">
                <div class="cd-img-overlay"><span>View Bio</span></div>
              </figure>

              <div class="cd-member-info">
                Maria <span>Bridesmaid</span>
              </div> <!-- cd-member-info -->
            </a>
          </li>
        </ul>
      </div> <!-- cd-container -->
    </section> <!-- cd-team -->

    <div class="cd-overlay"></div>
  </main>

  <div class="cd-member-bio member-1">
    <div class="cd-member-bio-pict">
      <img src="../../../details/Backgrounds/member-bio-img-1.jpg" alt="Member Bio image">
    </div> <!-- cd-member-bio-pict -->

    <div class="cd-bio-content">
      <h1>Meet Steve Matkiwsky</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, amet, voluptatibus et omnis dolore illo saepe voluptatem qui quibusdam sunt corporis ut iure repellendus delectus voluptate explicabo temporibus quos eaque?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, explicabo, doloribus, esse rem officia quas facilis eius alias similique ducimus amet quam odio perspiciatis dolorem ipsam! Ab, dolores, adipisci, explicabo pariatur illum deleniti quam iusto placeat nisi aliquam praesentium mollitia eligendi a! Sequi, voluptatibus sed quos possimus harum rem tempore fugiat? Corporis, officia, assumenda, asperiores blanditiis quidem aliquam fugiat vel excepturi velit provident aut omnis quos aliquid tempora eaque. Nemo, eveniet, sint maxime eum maiores totam est inventore numquam voluptatem hic nam blanditiis placeat illum nesciunt voluptatum eos cum quos magni voluptates ipsam. Perspiciatis alias ducimus libero. Quo provident omnis fugiat ut repellendus optio cum quaerat odio et ipsa. Molestias, atque repellat non maxime amet corporis magni libero quam numquam error beatae at asperiores et a porro nostrum ab necessitatibus esse aliquid iure repellendus obcaecati unde quo eius eum dolores quasi consectetur culpa velit optio! Sequi, dolor, minima, veniam doloribus in ullam cupiditate iste animi ipsum esse eaque similique illo temporibus magni et earum amet sint deleniti est reiciendis. Maxime, quis, animi, ad quasi adipisci suscipit alias iste reprehenderit ea placeat nulla commodi nobis magnam provident veniam earum odit eveniet possimus aut voluptatum dolorum culpa necessitatibus facere totam quisquam. Ipsam.</p>
    </div> <!-- cd-bio-content -->
  </div> <!-- cd-member-bio -->

  <div class="cd-member-bio member-2">
    <div class="cd-member-bio-pict">
      <img src="../../../details/Backgrounds/member-bio-img-2.jpg" alt="Member Bio image">
    </div> <!-- cd-member-bio-pict -->

    <div class="cd-bio-content">
      <h1>Meet Mladen Milosevic</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, amet, voluptatibus et omnis dolore illo saepe voluptatem qui quibusdam sunt corporis ut iure repellendus delectus voluptate explicabo temporibus quos eaque?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, explicabo, doloribus, esse rem officia quas facilis eius alias similique ducimus amet quam odio perspiciatis dolorem ipsam! Ab, dolores, adipisci, explicabo pariatur illum deleniti quam iusto placeat nisi aliquam praesentium mollitia eligendi a! Sequi, voluptatibus sed quos possimus harum rem tempore fugiat? Corporis, officia, assumenda, asperiores blanditiis quidem aliquam fugiat vel excepturi velit provident aut omnis quos aliquid tempora eaque. Nemo, eveniet, sint maxime eum maiores totam est inventore numquam voluptatem hic nam blanditiis placeat illum nesciunt voluptatum eos cum quos magni voluptates ipsam. Perspiciatis alias ducimus libero. Quo provident omnis fugiat ut repellendus optio cum quaerat odio et ipsa. Molestias, atque repellat non maxime amet corporis magni libero quam numquam error beatae at asperiores et a porro nostrum ab necessitatibus esse aliquid iure repellendus obcaecati unde quo eius eum dolores quasi consectetur culpa velit optio! Sequi, dolor, minima, veniam doloribus in ullam cupiditate iste animi ipsum esse eaque similique illo temporibus magni et earum amet sint deleniti est reiciendis. Maxime, quis, animi, ad quasi adipisci suscipit alias iste reprehenderit ea placeat nulla commodi nobis magnam provident veniam earum odit eveniet possimus aut voluptatum dolorum culpa necessitatibus facere totam quisquam. Ipsam.</p>
    </div> <!-- cd-bio-content -->
  </div> <!-- cd-member-bio -->

  <div class="cd-member-bio member-3">
    <div class="cd-member-bio-pict">
      <img src="../../../details/Backgrounds/member-bio-img-3.jpg" alt="Member Bio image">
    </div> <!-- cd-member-bio-pict -->

    <div class="cd-bio-content">
      <h1>Meet Jon Meisenheimer</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, amet, voluptatibus et omnis dolore illo saepe voluptatem qui quibusdam sunt corporis ut iure repellendus delectus voluptate explicabo temporibus quos eaque?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, explicabo, doloribus, esse rem officia quas facilis eius alias similique ducimus amet quam odio perspiciatis dolorem ipsam! Ab, dolores, adipisci, explicabo pariatur illum deleniti quam iusto placeat nisi aliquam praesentium mollitia eligendi a! Sequi, voluptatibus sed quos possimus harum rem tempore fugiat? Corporis, officia, assumenda, asperiores blanditiis quidem aliquam fugiat vel excepturi velit provident aut omnis quos aliquid tempora eaque. Nemo, eveniet, sint maxime eum maiores totam est inventore numquam voluptatem hic nam blanditiis placeat illum nesciunt voluptatum eos cum quos magni voluptates ipsam. Perspiciatis alias ducimus libero. Quo provident omnis fugiat ut repellendus optio cum quaerat odio et ipsa. Molestias, atque repellat non maxime amet corporis magni libero quam numquam error beatae at asperiores et a porro nostrum ab necessitatibus esse aliquid iure repellendus obcaecati unde quo eius eum dolores quasi consectetur culpa velit optio! Sequi, dolor, minima, veniam doloribus in ullam cupiditate iste animi ipsum esse eaque similique illo temporibus magni et earum amet sint deleniti est reiciendis. Maxime, quis, animi, ad quasi adipisci suscipit alias iste reprehenderit ea placeat nulla commodi nobis magnam provident veniam earum odit eveniet possimus aut voluptatum dolorum culpa necessitatibus facere totam quisquam. Ipsam.</p>
    </div> <!-- cd-bio-content -->
  </div> <!-- cd-member-bio -->

  <div class="cd-member-bio member-4">
    <div class="cd-member-bio-pict">
      <img src="../../../details/Backgrounds/member-bio-img-3.jpg" alt="Member Bio image">
    </div> <!-- cd-member-bio-pict -->

    <div class="cd-bio-content">
      <h1>Meet Dan Ye</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, amet, voluptatibus et omnis dolore illo saepe voluptatem qui quibusdam sunt corporis ut iure repellendus delectus voluptate explicabo temporibus quos eaque?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, explicabo, doloribus, esse rem officia quas facilis eius alias similique ducimus amet quam odio perspiciatis dolorem ipsam! Ab, dolores, adipisci, explicabo pariatur illum deleniti quam iusto placeat nisi aliquam praesentium mollitia eligendi a! Sequi, voluptatibus sed quos possimus harum rem tempore fugiat? Corporis, officia, assumenda, asperiores blanditiis quidem aliquam fugiat vel excepturi velit provident aut omnis quos aliquid tempora eaque. Nemo, eveniet, sint maxime eum maiores totam est inventore numquam voluptatem hic nam blanditiis placeat illum nesciunt voluptatum eos cum quos magni voluptates ipsam. Perspiciatis alias ducimus libero. Quo provident omnis fugiat ut repellendus optio cum quaerat odio et ipsa. Molestias, atque repellat non maxime amet corporis magni libero quam numquam error beatae at asperiores et a porro nostrum ab necessitatibus esse aliquid iure repellendus obcaecati unde quo eius eum dolores quasi consectetur culpa velit optio! Sequi, dolor, minima, veniam doloribus in ullam cupiditate iste animi ipsum esse eaque similique illo temporibus magni et earum amet sint deleniti est reiciendis. Maxime, quis, animi, ad quasi adipisci suscipit alias iste reprehenderit ea placeat nulla commodi nobis magnam provident veniam earum odit eveniet possimus aut voluptatum dolorum culpa necessitatibus facere totam quisquam. Ipsam.</p>
    </div> <!-- cd-bio-content -->
  </div> <!-- cd-member-bio -->

  <div class="cd-member-bio member-5">
    <div class="cd-member-bio-pict">
      <img src="../../../details/Backgrounds/member-bio-img-3.jpg" alt="Member Bio image">
    </div> <!-- cd-member-bio-pict -->

    <div class="cd-bio-content">
      <h1>Meet Nicole</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, amet, voluptatibus et omnis dolore illo saepe voluptatem qui quibusdam sunt corporis ut iure repellendus delectus voluptate explicabo temporibus quos eaque?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, explicabo, doloribus, esse rem officia quas facilis eius alias similique ducimus amet quam odio perspiciatis dolorem ipsam! Ab, dolores, adipisci, explicabo pariatur illum deleniti quam iusto placeat nisi aliquam praesentium mollitia eligendi a! Sequi, voluptatibus sed quos possimus harum rem tempore fugiat? Corporis, officia, assumenda, asperiores blanditiis quidem aliquam fugiat vel excepturi velit provident aut omnis quos aliquid tempora eaque. Nemo, eveniet, sint maxime eum maiores totam est inventore numquam voluptatem hic nam blanditiis placeat illum nesciunt voluptatum eos cum quos magni voluptates ipsam. Perspiciatis alias ducimus libero. Quo provident omnis fugiat ut repellendus optio cum quaerat odio et ipsa. Molestias, atque repellat non maxime amet corporis magni libero quam numquam error beatae at asperiores et a porro nostrum ab necessitatibus esse aliquid iure repellendus obcaecati unde quo eius eum dolores quasi consectetur culpa velit optio! Sequi, dolor, minima, veniam doloribus in ullam cupiditate iste animi ipsum esse eaque similique illo temporibus magni et earum amet sint deleniti est reiciendis. Maxime, quis, animi, ad quasi adipisci suscipit alias iste reprehenderit ea placeat nulla commodi nobis magnam provident veniam earum odit eveniet possimus aut voluptatum dolorum culpa necessitatibus facere totam quisquam. Ipsam.</p>
    </div> <!-- cd-bio-content -->
  </div> <!-- cd-member-bio -->

  <div class="cd-member-bio member-6">
    <div class="cd-member-bio-pict">
      <img src="../../../details/Backgrounds/member-bio-img-3.jpg" alt="Member Bio image">
    </div> <!-- cd-member-bio-pict -->

    <div class="cd-bio-content">
      <h1>Meet Emi Suzuki</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, amet, voluptatibus et omnis dolore illo saepe voluptatem qui quibusdam sunt corporis ut iure repellendus delectus voluptate explicabo temporibus quos eaque?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, explicabo, doloribus, esse rem officia quas facilis eius alias similique ducimus amet quam odio perspiciatis dolorem ipsam! Ab, dolores, adipisci, explicabo pariatur illum deleniti quam iusto placeat nisi aliquam praesentium mollitia eligendi a! Sequi, voluptatibus sed quos possimus harum rem tempore fugiat? Corporis, officia, assumenda, asperiores blanditiis quidem aliquam fugiat vel excepturi velit provident aut omnis quos aliquid tempora eaque. Nemo, eveniet, sint maxime eum maiores totam est inventore numquam voluptatem hic nam blanditiis placeat illum nesciunt voluptatum eos cum quos magni voluptates ipsam. Perspiciatis alias ducimus libero. Quo provident omnis fugiat ut repellendus optio cum quaerat odio et ipsa. Molestias, atque repellat non maxime amet corporis magni libero quam numquam error beatae at asperiores et a porro nostrum ab necessitatibus esse aliquid iure repellendus obcaecati unde quo eius eum dolores quasi consectetur culpa velit optio! Sequi, dolor, minima, veniam doloribus in ullam cupiditate iste animi ipsum esse eaque similique illo temporibus magni et earum amet sint deleniti est reiciendis. Maxime, quis, animi, ad quasi adipisci suscipit alias iste reprehenderit ea placeat nulla commodi nobis magnam provident veniam earum odit eveniet possimus aut voluptatum dolorum culpa necessitatibus facere totam quisquam. Ipsam.</p>
    </div> <!-- cd-bio-content -->
  </div> <!-- cd-member-bio -->

  <div class="cd-member-bio sofia-bg member-7">
    <div class="cd-member-bio-pict sofia-bg">
      <img src="../../../details/Backgrounds/Sofia_Background.jpeg" alt="Member Bio image">
    </div> <!-- cd-member-bio-pict -->

    <div class="cd-bio-content">
      <h1>Meet Sofia Lau-Alves</h1>
      <p>Sofia & Edwina met in first year university during move-in day. They were dorm room neighbors. While Edwina was moving into her room, Sofia popped her head out of her room and assertively introduced herself. They have been best friends ever since.</p>
      <p>Sofia & Edwina both share the same love for baking, board games and travel which have kept them close throughout the years. Sofia and Edwina have travelled together to Ecuador, Peru, South East Asia and most recently Costa Rica for Sofia’s wedding.</p>
    </div> <!-- cd-bio-content -->
  </div> <!-- cd-member-bio -->

  <div class="cd-member-bio member-8">
    <div class="cd-member-bio-pict">
      <img src="../../../details/Backgrounds/member-bio-img-3.jpg" alt="Member Bio image">
    </div> <!-- cd-member-bio-pict -->

    <div class="cd-bio-content">
      <h1>Meet Maria Ma</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, amet, voluptatibus et omnis dolore illo saepe voluptatem qui quibusdam sunt corporis ut iure repellendus delectus voluptate explicabo temporibus quos eaque?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, explicabo, doloribus, esse rem officia quas facilis eius alias similique ducimus amet quam odio perspiciatis dolorem ipsam! Ab, dolores, adipisci, explicabo pariatur illum deleniti quam iusto placeat nisi aliquam praesentium mollitia eligendi a! Sequi, voluptatibus sed quos possimus harum rem tempore fugiat? Corporis, officia, assumenda, asperiores blanditiis quidem aliquam fugiat vel excepturi velit provident aut omnis quos aliquid tempora eaque. Nemo, eveniet, sint maxime eum maiores totam est inventore numquam voluptatem hic nam blanditiis placeat illum nesciunt voluptatum eos cum quos magni voluptates ipsam. Perspiciatis alias ducimus libero. Quo provident omnis fugiat ut repellendus optio cum quaerat odio et ipsa. Molestias, atque repellat non maxime amet corporis magni libero quam numquam error beatae at asperiores et a porro nostrum ab necessitatibus esse aliquid iure repellendus obcaecati unde quo eius eum dolores quasi consectetur culpa velit optio! Sequi, dolor, minima, veniam doloribus in ullam cupiditate iste animi ipsum esse eaque similique illo temporibus magni et earum amet sint deleniti est reiciendis. Maxime, quis, animi, ad quasi adipisci suscipit alias iste reprehenderit ea placeat nulla commodi nobis magnam provident veniam earum odit eveniet possimus aut voluptatum dolorum culpa necessitatibus facere totam quisquam. Ipsam.</p>
    </div> <!-- cd-bio-content -->
  </div> <!-- cd-member-bio -->
  <a href="#0" class="cd-member-bio-close">Close</a> <!-- close the author bio section -->
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->

</div>


<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->

<script>
  function showImages(el) {
    var windowHeight = jQuery( window ).height();
    $(el).each(function(){
      var thisPos = $(this).offset().top;

      var topOfWindow = $(window).scrollTop();
      if (topOfWindow + windowHeight - 200 > thisPos ) {
        $(this).addClass("fadeIn");
      }
    });
  }

  // if the image in the window of browser when the page is loaded, show that image
  $(document).ready(function(){
    showImages('.star');
  });

  // if the image in the window of browser when scrolling the page, show that image
  $(window).scroll(function() {
    showImages('.star');
  });
</script>

<script src="../../assets/gmaps/map.js"></script>
<script src="../../assets/side-bio/main.js"></script>