<% content_for :title do %>Details<% end %>

<div class="jumbotron">
  <h1 class="bongsky-title">Details</h1>
  <p class="bongsky-p">
    August 18, 2018
  </p>
  <p class="bongsky-p" id="details-p">
    Click an icon below for directions:
  </p>

  <div class="row-map-icons no-gutter image-responsive-map-container">
    <div class="col-xs-4 imageBox" style="padding: 1px 1px 1px 0px;">
      <img src="../../details/Church_Details.png" id="churchicon" class="image-responsive" style="height: 66px;  cursor:pointer;" />
    </div>
    <div class="col-xs-4 imageBox">
      <img src="../../details/Reception_Details.png" id="foodicon" class="image-responsive" style="height: 66px; cursor:pointer;" />
    </div>
    <div class="col-xs-4 imageBox" style="padding: 1px 0px 1px 1px;">
      <img src="../../details/Bed_Details.png" id="bedicon" class="image-responsive" style="height: 66px; cursor:pointer;" />
    </div>
  </div>
  <div class="row-map-icons no-gutter image-responsive-map-container">
    <div class="col-xs-4 imageBox" style="height: 25px;">
      <a>
        <p class="nav-item-font" id="churchtext" style="font-size: 14px; cursor:pointer; color: #222222!important;">
          Ceremony
        </p>
      </a>
    </div>
    <div class="col-xs-4 imageBox" style="height: 25px;">
      <a>
        <p class="nav-item-font" id="receptiontext" style="font-size: 14px; cursor:pointer; color: #222222!important;">
          Reception
        </p>
      </a>
    </div>
    <div class="col-xs-4 imageBox" style="height: 25px;">
      <a>
        <p class="nav-item-font" id="accomodationstext" style="font-size: 14px; cursor:pointer; color: #222222!important;">
          Hotel
        </p>
      </a>
    </div>
  </div>

  <div id="map-container" style='width: 100%; height: 550px;'>
    <div id="sidebar_builder" style="width: 100%; height: 100%;"></div>
  </div>

</div>

<%= javascript_include_tag 'gmaps/map' %>
