<% content_for :title do %>Our Story<% end %>

<div class="jumbotron">
  <h1 class="bongsky-title">Our Story</h1>
  <p class="bongsky-p">
    Let's take a trip down a classic boy meets girl story of Mike and Edwina...
  </p>


  <section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture"> 
        <img src="../../timeline/Heart_BW.png" alt="Picture"> 
      </div>
      <!-- cd-timeline-img -->
    
      <div class="cd-timeline-content">
        <p class="timeline-p-header">The Meet Cute</p>
        <p class="timeline-p"> Mike got a job in Waterloo so he set out to look for a place to rent. One of the houses that Mike checked out happened to be the house Edwina was living in while she was studying at university. Despite meeting Edwina for the first time in her pyjamas, Mike was convinced it was love at first sight. Edwina remained oblivious to this crush for the next 6 months until Mike professed his feelings through volcano earrings he brought back from Greece. </p>
        <a href="../../timeline/MeetCute.png">
          <img src="../../timeline/MeetCute.png">
        </a> 
      
        <span class="cd-date">JUNE 2012</span>
      </div>
      <!-- cd-timeline-content --> 
    </div>
    <!-- cd-timeline-block -->
  
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-movie"> 
        <img src="../../timeline/Romance_BW.png" alt="Movie"> 
      </div>
      <!-- cd-timeline-img -->
    
      <div class="cd-timeline-content">
        <p class="timeline-p-header">Taking Friendship To Relationship</p>
        <p class="timeline-p"> Mike and Edwina were both interested in watching the popular show Game of Thrones. After a few episodes, dates and home cooked dinners, Mike finally asked Edwina out! The chemistry was undeniable. </p>
        <a href="../../timeline/F2R.png">
          <img src="../../timeline/F2R.png">
        </a>

        <span class="cd-date">JANUARY 2013</span>
      </div>
      <!-- cd-timeline-content --> 
    </div>
    <!-- cd-timeline-block -->
  
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
        <img src="../../timeline/DJ_BW.png" alt="Picture"> 
      </div>
      <!-- cd-timeline-img -->
    
      <div class="cd-timeline-content">
        <p class="timeline-p-header">The Beginning Of Many Firsts</p>
        <p class="timeline-p"> During Edwina’s reading week, Mike took Edwina on their first adventure to Ottawa to visit his brother, Steve. During this trip, Mike thought he would impress Edwina by going go karting. To his surprise, Edwina was a speed demon on the go karting track and beat him in the first round. They ended their trip with a Swedish House Mafia concert in Toronto which happened to be Edwina’s first concert ever! </p>
        <a href="../../timeline/Firsts.png">
          <img src="../../timeline/Firsts.png">
        </a> 

        <span class="cd-date">FEBRUARY 2013</span>
      </div>
      <!-- cd-timeline-content --> 
    </div>
    <!-- cd-timeline-block -->
  
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-location"> 
        <img src="../../timeline/Durian_BW.png" alt="Location"> 
      </div>
      <!-- cd-timeline-img -->
    
      <div class="cd-timeline-content">
        <p class="timeline-p-header">Mike's First Trip To Malaysia</p>
        <p class="timeline-p"> After graduating university, Edwina took some time off to travel to South East Asia with her friends. Part of the trip included going home to Malaysia to visit friends and family. Mike missed her so much, he flew across the world to see where she grew up and try the local cuisine Edwina raved about so fondly. It was quite delicious! </p>
        <a href="../../timeline/Malaysia.png">
          <img src="../../timeline/Malaysia.png">
        </a>

        <span class="cd-date">SEPTEMBER 2013</span>
      </div>
      <!-- cd-timeline-content --> 
    </div>
    <!-- cd-timeline-block -->
  
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-location"> 
        <img src="../../timeline/Camping_BW.png" alt="Location"> 
      </div>
      <!-- cd-timeline-img -->
    
      <div class="cd-timeline-content">
        <p class="timeline-p-header">First Camping Trip</p>
        <p class="timeline-p"> Camping has been a big part of this couple's adventures. This portaging trip to Algonquin Park marked the beginning of many more camping trips to come. </p>
        <a href="../../timeline/CampingCompilation.png">
          <img src="../../timeline/CampingCompilation.png">
        </a> 

        <span class="cd-date">AUGUST 2013</span> </div>
      <!-- cd-timeline-content --> 
    </div>
    <!-- cd-timeline-block -->


    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-location"> 
        <img src="../../timeline/Volcano_BW.png" alt="Location"> 
      </div>
      <!-- cd-timeline-img -->
    
      <div class="cd-timeline-content">
        <p class="timeline-p-header">Trip To Nicaragua</p>
        <p class="timeline-p"> Mike and Edwina embarked on their first vacation together alone to Nicaragua. This was the beginning of their love for exploring different countries and experiencing the local culture. They stayed with a host family on an island called Ometepe, it was quite the adventure!</p>
        <a href="../../timeline/NicaraguaCompilation.png">
          <img src="../../timeline/NicaraguaCompilation.png">
        </a> 

        <span class="cd-date">FEBRUARY 2015</span> </div>
      <!-- cd-timeline-content --> 
    </div>
    <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-location"> 
        <img src="../../timeline/Boot_BW.png" alt="Location"> 
      </div>
      <!-- cd-timeline-img -->
    
      <div class="cd-timeline-content">
        <p class="timeline-p-header">Taking Relationship To New Heights</p>
        <p class="timeline-p"> After enjoying their first volcano climb in Nicaragua, Mike and Edwina took their relationship to new heights and set out to climb Mt. Marcy in New York, the highest mountain peak in New York.</p>
        <a href="../../timeline/Camping.png">
          <img src="../../timeline/Camping.png">
        </a> 

        <span class="cd-date">AUGUST 2016</span> </div>
      <!-- cd-timeline-content --> 
    </div>
    <!-- cd-timeline-block -->
  
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-movie"> 
        <img src="../../timeline/Ring_BW.png" alt="Movie"> 
      </div>
      <!-- cd-timeline-img -->
    
      <div class="cd-timeline-content">
        <p class="timeline-p-header">Engagement</p>
        <p class="timeline-p"> Mike and Edwina went to Niagara on the lake for their own bike winery tour getaway. While strolling through the Two Sisters vineyard, Mike popped the question and Edwina said yes!</p>
        <a href="../../timeline/Engagement.png">
          <img src="../../timeline/Engagement.png">
        </a>

        <span class="cd-date">SEPTEMBER 2017</span> </div>
      <!-- cd-timeline-content --> 
    </div>
    <!-- cd-timeline-block --> 
  </section>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
console.log('enter jQuery function')
jQuery(document).ready(function($){
var $timeline_block = $('.cd-timeline-block');

console.log($timeline_block)
//hide timeline blocks which are outside the viewport
$timeline_block.each(function(){
console.log($(this).offset().top)
console.log($(window).scrollTop()+$(window).height()*0.75)
if($(this).offset().top > $(window).scrollTop()+$(window).height()*0.75) {
$(this).find('.cd-timeline-img, .cd-timeline-content').addClass('is-hidden');
}
});

//on scolling, show/animate timeline blocks when enter the viewport
$(window).on('scroll', function(){
console.log("on scroll")
$timeline_block.each(function(){
if( $(this).offset().top <= $(window).scrollTop()+$(window).height()*0.75 && $(this).find('.cd-timeline-img').hasClass('is-hidden') ) {
$(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
}
});
});
});
console.log('exit jQuery function')
</script>

<script src="../../assets/main.js"></script>