<div class="jumbotron">
  <h1 class="bongsky-title">Meet The Parents</h1>
  <p class="bongsky-p" id="details-p">
    Click on a portrait to see more!
  </p>  
  <section id="cd-team" class="cd-section">
      <div class="cd-container">
        <ul style="list-style: none;">
          <li class="star">
            <a href="#0" data-type="member-1">
              <figure>
                <img src="../../../details/Portraits/Bong_Portrait.jpg" alt="Kuan Shin Bong">
                <div class="cd-img-overlay"><span>View Bio</span></div>
              </figure>

              <div class="cd-member-info">
                Kuan Shin <span>Father of the Bride</span>
              </div> <!-- cd-member-info -->
            </a>
          </li>
          <li class="star">
            <a href="#0" data-type="member-2">
              <figure>
                <img src="../../../details/Portraits/Philo_Portrait.jpg" alt="Philomena">
                <div class="cd-img-overlay"><span>View Bio</span></div>
              </figure>

              <div class="cd-member-info">
                Philomena <span>Mother of the Bride</span>
              </div> <!-- cd-member-info -->
            </a>
          </li>
          
          <li class="star">
            <a href="#0" data-type="member-3">
              <figure>
                <img src="../../../details/Portraits/Yarko_Portrait.jpg" alt="Yarko">
                <div class="cd-img-overlay"><span>View Bio</span></div>
              </figure>

              <div class="cd-member-info">
                Yarko <span>Father of the Groom</span>
              </div> <!-- cd-member-info -->
            </a>
          </li>

          <li class="star">
            <a href="#0" data-type="member-4">
              <figure>
                <img src="../../../details/Portraits/Marie_Portrait.jpg" alt="Marie">
                <div class="cd-img-overlay"><span>View Bio</span></div>
              </figure>

              <div class="cd-member-info">
                Marie <span>Mother of the Groom</span>
              </div> <!-- cd-member-info -->
            </a>
          </li>

        </ul>
      </div> <!-- cd-container -->
    </section> <!-- cd-team -->

    <div class="cd-overlay"></div>
  </main>

  <div class="cd-member-bio bong-bg member-1">
    <div class="cd-member-bio-pict bong-bg">
      <img src="../../../details/Backgrounds/Bong_Background.jpg" alt="Member Bio image">
    </div> <!-- cd-member-bio-pict -->

    <div class="cd-bio-content">
      <h1>Meet Kuan Shin Bong</h1>
      <p>Bong grew up in a small village called Lawas in Sarawak, Malaysia. He has 11 other siblings and started from very humble beginnings. Bong is an avid traveller and foodie, always on the hunt for the most exciting and tasty foods. He makes Edwina’s favourite Malaysian dish, chilli crab. A trip to the chinese grocery store for fresh crab and ingredients is a must during his visits. She can sit at the dining table and pick at crab meat all day. Edwina’s passion for photography comes from her father as he is always documenting his food and travel through a camera lense (nowadays an iphone).</p>
    </div> <!-- cd-bio-content -->
  </div> <!-- cd-member-bio -->

  <div class="cd-member-bio philo-bg member-2">
    <div class="cd-member-bio-pict philo-bg">
      <img src="../../../details/Backgrounds/Philo_Background.jpg" alt="Member Bio image">
    </div> <!-- cd-member-bio-pict -->

    <div class="cd-bio-content">
      <h1>Meet Philomena Cheong</h1>
      <p>Philomena grew up in a small country, called Singapore where she lived in a house with 7 other siblings. Philomena was a talented cook and loved to entertain. She was always thrilled to have friends over to enjoy her home cooked meals and desserts. She was a prime definition of a hostess with the mostess. Dinner place settings would be set the night before with neatly folded color coordinated napkins. It goes without saying that Edwina’s love for entertaining and sharing love through food comes from her mother.</p>
    </div> <!-- cd-bio-content -->
  </div> <!-- cd-member-bio -->

  <div class="cd-member-bio yarko-bg member-3">
    <div class="cd-member-bio-pict yarko-bg">
      <img src="../../../details/Backgrounds/Yarko_Background.jpg" alt="Member Bio image">
    </div> <!-- cd-member-bio-pict -->

    <div class="cd-bio-content">
      <h1>Meet Yarko Matkiwsky</h1>
      <p>Yarko was born in Montreal, and grew up in Toronto and Mississauga. As a curious kid, he spent a lot of time exploring, making his own science projects, the best go-carts and winning races. He introduced Mike and Steve to a lot of cool things like camping, fishing, building Porsche motors, flying homemade remote control airplanes, vodka shots, and Led Zeppelin. Yarko is a really interesting character that inspires many, knows how to make us laugh, and knows how to make a Porsche really fly on race day.</p>
    </div> <!-- cd-bio-content -->
  </div> <!-- cd-member-bio -->

  <div class="cd-member-bio marie-bg member-4">
    <div class="cd-member-bio-pict marie-bg">
      <img src="../../../details/Backgrounds/Marie_Background.jpg" alt="Member Bio image">
    </div> <!-- cd-member-bio-pict -->

    <div class="cd-bio-content">
      <h1>Meet Marie Matkiwsky</h1>
      <p>Marie grew up in Oshawa with her two brothers and liked to play outside with her friends on Dieppe Avenue. She is known for hosting the best birthday parties ever, with more delicious food than you can imagine. If you have ever had the chance to try her homemade cakes, you know how special they are, and how much love she puts into each and every one. Always energetic, thoughtful and caring, not to mention fun to party with. As most of us also know, she is a passionate realtor that always has time for your referrals. Marie on the job.</p>
    </div> <!-- cd-bio-content -->
  </div> <!-- cd-member-bio -->

<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->

</div>


<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->

<script>
  function showImages(el) {
    var windowHeight = jQuery( window ).height();
    $(el).each(function(){
      var thisPos = $(this).offset().top;

      var topOfWindow = $(window).scrollTop();
      if (topOfWindow + windowHeight - 200 > thisPos ) {
        $(this).addClass("fadeIn");
      }
    });
  }

  // if the image in the window of browser when the page is loaded, show that image
  $(document).ready(function(){
    showImages('.star');
  });

  // if the image in the window of browser when scrolling the page, show that image
  $(window).scroll(function() {
    showImages('.star');
  });
</script>


<%= javascript_include_tag 'side-bio/main' %>
