<div class="jumbotron">
  <h1 class="bongsky-title">Meet The Parents</h1>
  <p class="bongsky-p" id="details-p">
    Click on a portrait to see more!
  </p>  
  <section id="cd-team" class="cd-section">
      <div class="cd-container">
        <ul style="list-style: none;">
          <li class="star">
            <a href="#0" data-type="member-1">
              <figure>
                <img src="../../../details/Portraits/Bong_Portrait.jpg" alt="Kuan Shin Bong">
                <div class="cd-img-overlay"><span>View Bio</span></div>
              </figure>

              <div class="cd-member-info">
                Kuan Shin <span>Father of the Bride</span>
              </div> <!-- cd-member-info -->
            </a>
          </li>
          <li class="star">
            <a href="#0" data-type="member-2">
              <figure>
                <img src="../../../details/Portraits/Philo_Portrait.jpg" alt="Philomena">
                <div class="cd-img-overlay"><span>View Bio</span></div>
              </figure>

              <div class="cd-member-info">
                Philomena <span>Mother of the Bride</span>
              </div> <!-- cd-member-info -->
            </a>
          </li>
          
          <li class="star">
            <a href="#0" data-type="member-3">
              <figure>
                <img src="../../../details/Portraits/Yarko_Portrait.jpg" alt="Yarko">
                <div class="cd-img-overlay"><span>View Bio</span></div>
              </figure>

              <div class="cd-member-info">
                Yarko <span>Father of the Groom</span>
              </div> <!-- cd-member-info -->
            </a>
          </li>

          <li class="star">
            <a href="#0" data-type="member-4">
              <figure>
                <img src="../../../details/Portraits/Marie_Portrait.jpg" alt="Marie">
                <div class="cd-img-overlay"><span>View Bio</span></div>
              </figure>

              <div class="cd-member-info">
                Marie <span>Mother of the Groom</span>
              </div> <!-- cd-member-info -->
            </a>
          </li>

        </ul>
      </div> <!-- cd-container -->
    </section> <!-- cd-team -->

    <div class="cd-overlay"></div>
  </main>

  <div class="cd-member-bio kuanshin-bg member-1">
    <div class="cd-member-bio-pict kuanshin-bg">
      <img src="../../../details/Backgrounds/Bong_Background.jpg" alt="Member Bio image">
    </div> <!-- cd-member-bio-pict -->

    <div class="cd-bio-content">
      <h1>Meet Kuan Shin Bong</h1>
      <p>Bong grew up in a small village called Lawas in Sarawak, Malaysia. He has 11 other siblings and started from very humble beginnings. Bong is an avid traveller and foodie, always on the hunt for the most exciting and tasty foods. He makes Edwina’s favourite Malaysian dish, chilli crab. A trip to the chinese grocery store for fresh crab and ingredients is a must during his visits. She can sit at the dining table and pick at crab meat all day. Edwina’s passion for photography comes from her father as he is always documenting his food and travel through a camera lense (nowadays an iphone).</p>
    </div> <!-- cd-bio-content -->
  </div> <!-- cd-member-bio -->

  <div class="cd-member-bio philomena-bg member-2">
    <div class="cd-member-bio-pict philomena-bg">
      <img src="../../../details/Backgrounds/Philomena_Background.jpg" alt="Member Bio image">
    </div> <!-- cd-member-bio-pict -->

    <div class="cd-bio-content">
      <h1>Meet Philomena Cheong</h1>
      <p>Philomena grew up in a small country, called Singapore where she lived in a house with 7 other siblings. Philomena was a talented cook and loved to entertain. She was always thrilled to have friends over to enjoy her home cooked meals and desserts. She was a prime definition of a hostess with the mostess. Dinner place settings would be set the night before with neatly folded color coordinated napkins. It goes without saying that Edwina’s love for entertaining and sharing love through food comes from her mother.</p>
    </div> <!-- cd-bio-content -->
  </div> <!-- cd-member-bio -->

  <div class="cd-member-bio yarko-bg member-3">
    <div class="cd-member-bio-pict yarko-bg">
      <img src="../../../details/Backgrounds/Yarko_Background.jpg" alt="Member Bio image">
    </div> <!-- cd-member-bio-pict -->

    <div class="cd-bio-content">
      <h1>Meet Yarko Matkiwsky</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, amet, voluptatibus et omnis dolore illo saepe voluptatem qui quibusdam sunt corporis ut iure repellendus delectus voluptate explicabo temporibus quos eaque?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, explicabo, doloribus, esse rem officia quas facilis eius alias similique ducimus amet quam odio perspiciatis dolorem ipsam! Ab, dolores, adipisci, explicabo pariatur illum deleniti quam iusto placeat nisi aliquam praesentium mollitia eligendi a! Sequi, voluptatibus sed quos possimus harum rem tempore fugiat? Corporis, officia, assumenda, asperiores blanditiis quidem aliquam fugiat vel excepturi velit provident aut omnis quos aliquid tempora eaque. Nemo, eveniet, sint maxime eum maiores totam est inventore numquam voluptatem hic nam blanditiis placeat illum nesciunt voluptatum eos cum quos magni voluptates ipsam. Perspiciatis alias ducimus libero. Quo provident omnis fugiat ut repellendus optio cum quaerat odio et ipsa. Molestias, atque repellat non maxime amet corporis magni libero quam numquam error beatae at asperiores et a porro nostrum ab necessitatibus esse aliquid iure repellendus obcaecati unde quo eius eum dolores quasi consectetur culpa velit optio! Sequi, dolor, minima, veniam doloribus in ullam cupiditate iste animi ipsum esse eaque similique illo temporibus magni et earum amet sint deleniti est reiciendis. Maxime, quis, animi, ad quasi adipisci suscipit alias iste reprehenderit ea placeat nulla commodi nobis magnam provident veniam earum odit eveniet possimus aut voluptatum dolorum culpa necessitatibus facere totam quisquam. Ipsam.</p>
    </div> <!-- cd-bio-content -->
  </div> <!-- cd-member-bio -->

  <div class="cd-member-bio marie-bg member-4">
    <div class="cd-member-bio-pict marie-bg">
      <img src="../../../details/Backgrounds/Marie_Background.jpg" alt="Member Bio image">
    </div> <!-- cd-member-bio-pict -->

    <div class="cd-bio-content">
      <h1>Meet Marie Matkiwsky</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, amet, voluptatibus et omnis dolore illo saepe voluptatem qui quibusdam sunt corporis ut iure repellendus delectus voluptate explicabo temporibus quos eaque?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, explicabo, doloribus, esse rem officia quas facilis eius alias similique ducimus amet quam odio perspiciatis dolorem ipsam! Ab, dolores, adipisci, explicabo pariatur illum deleniti quam iusto placeat nisi aliquam praesentium mollitia eligendi a! Sequi, voluptatibus sed quos possimus harum rem tempore fugiat? Corporis, officia, assumenda, asperiores blanditiis quidem aliquam fugiat vel excepturi velit provident aut omnis quos aliquid tempora eaque. Nemo, eveniet, sint maxime eum maiores totam est inventore numquam voluptatem hic nam blanditiis placeat illum nesciunt voluptatum eos cum quos magni voluptates ipsam. Perspiciatis alias ducimus libero. Quo provident omnis fugiat ut repellendus optio cum quaerat odio et ipsa. Molestias, atque repellat non maxime amet corporis magni libero quam numquam error beatae at asperiores et a porro nostrum ab necessitatibus esse aliquid iure repellendus obcaecati unde quo eius eum dolores quasi consectetur culpa velit optio! Sequi, dolor, minima, veniam doloribus in ullam cupiditate iste animi ipsum esse eaque similique illo temporibus magni et earum amet sint deleniti est reiciendis. Maxime, quis, animi, ad quasi adipisci suscipit alias iste reprehenderit ea placeat nulla commodi nobis magnam provident veniam earum odit eveniet possimus aut voluptatum dolorum culpa necessitatibus facere totam quisquam. Ipsam.</p>
    </div> <!-- cd-bio-content -->
  </div> <!-- cd-member-bio -->

<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->

</div>


<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->

<script>
  function showImages(el) {
    var windowHeight = jQuery( window ).height();
    $(el).each(function(){
      var thisPos = $(this).offset().top;

      var topOfWindow = $(window).scrollTop();
      if (topOfWindow + windowHeight - 200 > thisPos ) {
        $(this).addClass("fadeIn");
      }
    });
  }

  // if the image in the window of browser when the page is loaded, show that image
  $(document).ready(function(){
    showImages('.star');
  });

  // if the image in the window of browser when scrolling the page, show that image
  $(window).scroll(function() {
    showImages('.star');
  });
</script>


<%= javascript_include_tag 'side-bio/main' %>
