<% content_for :title do %>Registry<% end %>
<div class="jumbotron">
  <h1 class="bongsky-title">Registry</h1>
  <p class="bongsky-p">Click the image below to check out Mike and Edwina's Amazon Registry!</p>
  <div style='vertical-align:middle; text-align:center'>
    <a href='https://www.amazon.com/wedding/edwina-bong-mike-matkiwsky-port-perry-august-2018/registry/1M7RE9BLUZHKC' target='_blank'>
      <img src='https://s3-us-west-2.amazonaws.com/lambda-guestview-screenshots/screenshots/screenshots_guestview_ATVPDKIKX0DER_1M7RE9BLUZHKC.png' width='90%' height='90%' border='1'>
    </a>
  </div>
</div>
