<% content_for :title do %>R.S.V.P.<% end %>

<div class="jumbotron">
  <h1 class="bongsky-title">RSVP</h1>

  <p class="bongsky-p">Will you be partying with us or partying from afar?</p>
  
  <form class="cd-form floating-labels" action="/pages/rsvp/send" method="post">
    <fieldset>
      <div style="text-align: center;">
        <ul class="cd-form-list">
          <li>
            <input type="radio" name="attending" id="cd-radio-1" value="attending">
            <label for="cd-radio-1">I'm coming to party</label>
          </li>
            
          <li>
            <input type="radio" name="attending" id="cd-radio-2" value="notattending">
            <label for="cd-radio-2">Unable to attend</label>
          </li>
        </ul>
      </div>

      <div class="icon">
        <label class="cd-label" for="cd-name">Name</label>
        <input class="user" type="text" name="name" id="cd-name" required>
      </div>

      <div class="icon">
        <label class="cd-label" for="cd-email">Email</label>
        <input class="email" type="email" name="email" id="cd-email2">
      </div>

      <div id="guest-fields"></div>

      <div class="row">
        <img src="../../contact/add-guest.png" id="addguest" class="image-responsive" style="cursor: pointer; float: left; margin-top: -10px; margin-right: 5px;" />
        <a>
          <p id="addguestp" style="font-family: 'Open Sans', sans-serif; font-size: 1.6rem; color: #2b3e51; cursor:pointer; font-weight: bold;">
            Add a guest
          </p>
        </a>
      </div>


      <div style="text-align: center;">
        <input type="submit" value="Submit">
      </div>
    </fieldset>
  </form>
<script src="../assets/rsvp/jquery-2.1.1.js"></script>
<script src="../assets/rsvp/main.js"></script> <!-- Resource jQuery -->
  <p class="bongsky-p">
    Please let us know by June 1, 2018
  </p>
  
  <p class="bongsky-p">
    <%= (Date.parse("August 18, 2018") - Date.today).to_i %> days until the wedding!
  </p>

</div>
