<% content_for :title do %>UBER & LYFT<% end %>

<div class="jumbotron">
  <h1 class="bongsky-title">UBER</h1>
  
  

  <div id="map-container" style='width: 100%; height: 550px;'>
    <div id="sidebar_builder" style="width: 100%; height: 100%;"></div>
  </div>

</div>

<%= javascript_include_tag 'gmaps/map' %>
