<% content_for :title do %>Updates<% end %>

<div class="jumbotron">
  <h1 class="bongsky-title">Updates</h1>

  <p class="bongsky-p">This is where we will post updates as they happen!</p>

  <div class="updatecard">
	<div class="updatecard-content">
		<header class="updatecard-content_header">
			<a href="https://www.instagram.com/edwina_bong/" class="updatecard-account_link" target="_blank">
			<img src="../../updates/Edwina_Portrait.jpg" alt="Edwina" class="updatecard-avatar">
				<span class="updatecard-user">
				<strong class="updatecard-username"></strong>
				<span>&rlm;</span>
			</span>
				<span class="updatecard-usertag">
				<b>edwina_bong</b>
			</span>
			</a>
		</header>

		<article class="updatecard-content_text">
			<a href="/">
			    <p class="bongsky-p-date">June 30, 2018</p>
		        <p class="bongsky-p-updates">Check out the home page to see some engagement photos!</p>
		        <img src="../../splash/Couple-Engagement-e.jpg" id="pictureee" class="image-responsive" />
		    </a>
		</article>
	</div>
  </div>

</div>
