<% content_for :title do %>UPLOADS<% end %>

<div class="jumbotron">
    <h1 class="bongsky-title">Uploads</h1>

    <p class="bongsky-p">
      We would love it if you uploaded any images you took at the wedding!
    </p>

    <form class="cd-form floating-labels" action="/pages/uploads/send" method="post" enctype="multipart/form-data">
      <fieldset>
        <div class="browse-container" style="text-align: center;margin: auto;">
          <div class="browse">
            click here to browse
          </div>
          <input class="browse-input" id="up-files" multiple="true" name="photos[]" type="file" accept="image/*" />
        </div>

        <div id="previewList" style="text-align: center;"></div>

        <div style="text-align: center;">
          <ul class="cd-form-list">
            <li>
              <input type="checkbox" id="cb-public" name="public" checked>
              <label for="cb-public">Share below?</label>
              <input type="submit" value="Upload" style="padding: 7px 20px;margin-left: 5px;">
            </li>
          </ul>
        </div>

      </fieldset>
    </form>

    <div class="container" style="margin-top: 52px; padding-left: 1px; padding-right: 1px;">
        <% @photo_url_list.each_slice(3) do |photo| %>

            <section class="cards smalls">    
                
                <article class="card small frontLeft">
                    <%= image_tag(photo[0], class: "publicthumb") %>
                </article><!-- .card -->
                
                <% if (photo.length > 1) %>
                    <article class="card small frontMiddle">
                        <%= image_tag(photo[1], class: "publicthumb") %>
                    </article><!-- .card -->
                <% end %>
                
                <% if (photo.length > 2) %>
                    <article class="card small frontRight">
                        <%= image_tag(photo[2], class: "publicthumb") %>
                    </article><!-- .card -->
                <% end %>

            </section><!-- .cards 2nd row 3 pics-->
        <% end %>
    </div>
            
</div>

<%= javascript_include_tag 'uploads/uploads' %>