<% content_for :title do %>UPLOADS<% end %>

<div class="jumbotron">
    <h1 class="bongsky-title">Uploads</h1>

    <p class="bongsky-p">
      We would love it if you uploaded any images you took at the wedding!
    </p>

    <form class="cd-form floating-labels" action="/pages/uploads/send" method="post" enctype="multipart/form-data">
      <fieldset>
        <div class="browse-container" style="text-align: center;margin: auto;">
          <div class="browse">
            click here to browse
          </div>
          <input class="browse-input" id="up-files" multiple="true" name="photos[]" type="file" />
        </div>

        <div style="text-align: center;">
          <ul class="cd-form-list">
            <li>
              <input type="checkbox" id="cb-public" name="public">
              <label for="cb-public">Share below?</label>
            </li>
          </ul>
        </div>

        <div style="text-align: center;">
          <input type="submit" value="Upload">
        </div>
      </fieldset>
    </form>
            
</div>