<div class="jumbotron">
  <h1 class="bongsky-title">The Wedding Party</h1>
  <p class="bongsky-p" id="details-p">
    Click on a portrait to see more!
  </p>  
  <section id="cd-team" class="cd-section">
      <div class="cd-container">
        <ul style="list-style: none;">
          <li class="star">
            <a href="#0" data-type="member-1">
              <figure>
                <img src="../../../details/Portraits/Steve_Portrait.jpg" alt="Steve">
                <div class="cd-img-overlay"><span>View Bio</span></div>
              </figure>

              <div class="cd-member-info">
                Steve <span>Best Man</span>
              </div> <!-- cd-member-info -->
            </a>
          </li>
          <li class="star">
            <a href="#0" data-type="member-5">
              <figure>
                <img src="../../../details/Portraits/Nicole_Portrait.jpg" alt="Nicole">
                <div class="cd-img-overlay"><span>View Bio</span></div>
              </figure>

              <div class="cd-member-info">
                Nicole <span>Maid Of Honour</span>
              </div> <!-- cd-member-info -->
            </a>
          </li>
          
          <li class="star">
            <a href="#0" data-type="member-2">
              <figure>
                <img src="../../../details/Portraits/Mladen_Portrait.jpg" alt="Mladen">
                <div class="cd-img-overlay"><span>View Bio</span></div>
              </figure>

              <div class="cd-member-info">
                Mladen <span>Groomsman</span>
              </div> <!-- cd-member-info -->
            </a>
          </li>

          <li class="star">
            <a href="#0" data-type="member-6">
              <figure>
                <img src="../../../details/Portraits/Emi_Portrait.jpg" alt="Emi">
                <div class="cd-img-overlay"><span>View Bio</span></div>
              </figure>

              <div class="cd-member-info">
                Emi <span>Bridesmaid</span>
              </div> <!-- cd-member-info -->
            </a>
          </li>

          <li class="star">
            <a href="#0" data-type="member-3">
              <figure>
                <img src="../../../details/Portraits/Jon_Portrait.jpg" alt="Jon">
                <div class="cd-img-overlay"><span>View Bio</span></div>
              </figure>

              <div class="cd-member-info">
                Jon <span>Groomsman</span>
              </div> <!-- cd-member-info -->
            </a>
          </li>

          <li class="star">
            <a href="#0" data-type="member-7">
              <figure>
                <img src="../../../details/Portraits/Sofia_Portrait.jpg" alt="Sofia">
                <div class="cd-img-overlay"><span>View Bio</span></div>
              </figure>

              <div class="cd-member-info">
                Sofia <span>Bridesmaid</span>
              </div> <!-- cd-member-info -->
            </a>
          </li>

          <li class="star">
            <a href="#0" data-type="member-4">
              <figure>
                <img src="../../../details/Portraits/Dan_Portrait.jpg" alt="Dan">
                <div class="cd-img-overlay"><span>View Bio</span></div>
              </figure>

              <div class="cd-member-info">
                Dan <span>Groomsman</span>
              </div> <!-- cd-member-info -->
            </a>
          </li>

          <li class="star">
            <a href="#0" data-type="member-8">
              <figure>
                <img src="../../../details/Portraits/Maria_Portrait.jpg" alt="Maria">
                <div class="cd-img-overlay"><span>View Bio</span></div>
              </figure>

              <div class="cd-member-info">
                Maria <span>Bridesmaid</span>
              </div> <!-- cd-member-info -->
            </a>
          </li>
        </ul>
      </div> <!-- cd-container -->
    </section> <!-- cd-team -->

    <div class="cd-overlay"></div>
  </main>

  <div class="cd-member-bio steve-bg member-1">
    <div class="cd-member-bio-pict steve-bg">
      <img src="../../../details/Backgrounds/Steve_Background.jpg" alt="Member Bio image">
    </div> <!-- cd-member-bio-pict -->

    <div class="cd-bio-content">
      <h1>Steve Matkiwsky</h1>
      <p>Steve & Mike are the two trouble maker kids of Yarko and Marie Matkiwsky.  Growing up, Steve has always been the coolest little brother anyone could ask for.  From playing road hockey, to many heavy metal concerts, Steve always knows how to have a good time, and make sure everyone around him is having the time of their lives.</p>
    </div> <!-- cd-bio-content -->
  </div> <!-- cd-member-bio -->

  <div class="cd-member-bio mladen-bg member-2">
    <div class="cd-member-bio-pict mladen-bg">
      <img src="../../../details/Backgrounds/Mladen_Background.jpg" alt="Member Bio image">
    </div> <!-- cd-member-bio-pict -->

    <div class="cd-bio-content">
      <h1>Mladen Milosevic</h1>
      <p>Mladen & Mike met in high school, lived together throughout university, and proceeded to be roomates for another 5 years.  Together, they went on many LANC runs, sushi lunches, and Morty's wing nights.  Mladen is a bright light of wild and fun ideas that always makes you smile.</p>
    </div> <!-- cd-bio-content -->
  </div> <!-- cd-member-bio -->

  <div class="cd-member-bio jon-bg member-3">
    <div class="cd-member-bio-pict jon-bg">
      <img src="../../../details/Backgrounds/Jon_Background.jpg" alt="Member Bio image">
    </div> <!-- cd-member-bio-pict -->

    <div class="cd-bio-content">
      <h1>Jon Meisenheimer</h1>
      <p>Jon & Mike met in first year university 12 years ago.  Since their days partying at Ron Edyt Village, and many Guitar Hero sessions at 86D McDougall, Jon has always been a great friend.  A great guy to spend a day exploring Brussels with.</p>
    </div> <!-- cd-bio-content -->
  </div> <!-- cd-member-bio -->

  <div class="cd-member-bio dan-bg member-4">
    <div class="cd-member-bio-pict dan-bg">
      <img src="../../../details/Backgrounds/Dan_Background.jpg" alt="Member Bio image">
    </div> <!-- cd-member-bio-pict -->

    <div class="cd-bio-content">
      <h1>Dan Ye</h1>
      <p>Dan & Mike met in high school at O'Niell Collegiate.  Dan has always been big on learning the new and latest technologies and has been a big reason Mike went to Waterloo.  Together, they drove up from Hollywood to San Francisco, and backpacked Europe.</p>
    </div> <!-- cd-bio-content -->
  </div> <!-- cd-member-bio -->

  <div class="cd-member-bio nicole-bg member-5">
    <div class="cd-member-bio-pict nicole-bg">
      <img src="../../../details/Backgrounds/Nicole_Background.jpg" alt="Member Bio image">
    </div> <!-- cd-member-bio-pict -->

    <div class="cd-bio-content">
      <h1>Nicole Wong</h1>
      <p>Nicole & Edwina met in high school when they both interned at an interior design firm. They quickly became best friends after Nicole discovered Edwina had a supply of tasty home cooked meals. In order to not go hungry at school, Edwina learnt to pack 2 portions of lunch so that she could share with Nicole. Nicole currently resides in England with her dog Mia. Despite living in England, Edwina and Nicole always make time for each other and have been each other’s rocks in life.</p>
    </div> <!-- cd-bio-content -->
  </div> <!-- cd-member-bio -->

  <div class="cd-member-bio emi-bg member-6">
    <div class="cd-member-bio-pict emi-bg">
      <img src="../../../details/Backgrounds/Emi_Background.jpg" alt="Member Bio image">
    </div> <!-- cd-member-bio-pict -->

    <div class="cd-bio-content">
      <h1>Emi Suzuki</h1>
      <p>Emi & Edwina met at work, they started 2 days apart and shared a cubicle wall.  Edwina was instantly starstruck by meeting a real life blogger and YouTuber.  Since becoming friends with Emi, Edwina has managed to weasle her way into several of Emi’s Youtube videos.</p>
    </div> <!-- cd-bio-content -->
  </div> <!-- cd-member-bio -->

  <div class="cd-member-bio sofia-bg member-7">
    <div class="cd-member-bio-pict sofia-bg">
      <img src="../../../details/Backgrounds/Sofia_Background.jpeg" alt="Member Bio image">
    </div> <!-- cd-member-bio-pict -->

    <div class="cd-bio-content">
      <h1>Sofia Lau-Alves</h1>
      <p>Sofia & Edwina met 10 years ago during move-in day at the University of Waterloo.  Over their 10 year long friendship, they have travelled together to Ecuador, Peru, South East Asia and most recently Costa Rica for Sofia’s wedding.</p>
    </div> <!-- cd-bio-content -->
  </div> <!-- cd-member-bio -->

  <div class="cd-member-bio maria-bg member-8">
    <div class="cd-member-bio-pict maria-bg">
      <img src="../../../details/Backgrounds/Maria_Background.jpg" alt="Member Bio image">
    </div> <!-- cd-member-bio-pict -->

    <div class="cd-bio-content">
      <h1>Maria Ma</h1>
      <p>Maria & Edwina met 10 years ago before a business exam. They quickly became great friends as they attended most of the same classes together.  Maria and Edwina were party buddies in university.  One of Edwina & Mike’s favorite hobbies, rock climbing was introduced to them by Maria in 2013.</p>
    </div> <!-- cd-bio-content -->
  </div> <!-- cd-member-bio -->
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->

</div>


<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->

<script>
  function showImages(el) {
    var windowHeight = jQuery( window ).height();
    $(el).each(function(){
      var thisPos = $(this).offset().top;

      var topOfWindow = $(window).scrollTop();
      if (topOfWindow + windowHeight - 200 > thisPos ) {
        $(this).addClass("fadeIn");
      }
    });
  }

  // if the image in the window of browser when the page is loaded, show that image
  $(document).ready(function(){
    showImages('.star');
  });

  // if the image in the window of browser when scrolling the page, show that image
  $(window).scroll(function() {
    showImages('.star');
  });
</script>


<%= javascript_include_tag 'side-bio/main' %>
