<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Ip: <%= @ip %>
    </p>
    <p>
      Show on Site: <%= @publicStatus %>
    </p>
    <p>
      Id: <%= @id %>
    </p>
    <p>
      Count: <%= @count %>
    </p>
  </body>
</html>