// colors

$main-text: #7f8c97; // main text
$link: #acb7c0; // anchor tags
$background: #e9f0f5; // body background color

$color-1: #303e49; // blue dark
$color-3: #eeeeee; // white

/////////////TIMELINE/////////////////

$color-timeline-header: #222222;
$color-timeline-p     : #222222;
$color-timeline-date  : #222222;
$color-timeline-bg    : #d3d3d3;
$color-timeline-shadow: #c0c0c0;

$timeline-bar: #c0c0c0;//#c0c0c0;
$timeline-circle-border: #c0c0c0;

$timeline-font-header: 'Suranna';
$timeline-font-p     : 'Karla';
$timeline-font-date  : 'Karla';