// import the CSS framework
// Do not use *= require in Sass or your other stylesheets will not be able to access the Bootstrap mixins and variables.
@import "bootstrap-sprockets";
@import "bootstrap";

@import '../partials/variables'; // colors, fonts etc...


/////////////////////Responsive Text//////////////////
/*
 * Responsive text aligning
 * http://ohryan.ca/2014/08/14/set-responsive-text-alignment-bootstrap-3/
 */
.text-xs-left { text-align: left; }
.text-xs-right { text-align: right; }
.text-xs-center { text-align: center; }
.text-xs-justify { text-align: justify; }

@media (min-width: $screen-sm-min) {
  .text-sm-left { text-align: left; }
  .text-sm-right { text-align: right; }
  .text-sm-center { text-align: center; }
  .text-sm-justify { text-align: justify; }
}

@media (min-width: $screen-md-min) {
  .text-md-left { text-align: left; }
  .text-md-right { text-align: right; }
  .text-md-center { text-align: center; }
  .text-md-justify { text-align: justify; }
}

@media (min-width: $screen-lg-min) {
  .text-lg-left { text-align: left; }
  .text-lg-right { text-align: right; }
  .text-lg-center { text-align: center; }
  .text-lg-justify { text-align: justify; }
}


.no-gutter > [class*='col-'] {
    padding-right: 1px;
    padding-left: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
}


////////////////images/////////////////////
// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
}

.col-pics {
  @extend .col-xs-4;
  padding-left: 1px!important;
  padding-right: 1px!important;
  padding-top: 1px!important;
  padding-bottom: 1px!important;
}

.imageBox {
  position: relative;
  //float: left;
  width: 90px;
  //text-align: center;
}
.imageBox .hoverImg {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.imageBox:hover .hoverImg {
  display: block;
}

.scrollContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.image-responsive-map-container {
  text-align: center;
  background-color: $color-details-nav;
  padding-top: 8px;
}

  .image-responsive-map-container:before
  {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }

.image-responsive-map-icon {
  @extend .img-responsive;
  display: inline-block;
  vertical-align: middle;
}

.row-map-icons {
  margin: 0 auto;
  text-align: center;
  display: table;
}

.publicthumb {
  @extend .img-responsive;

  max-height: 300px;
}

/////////////all pages/////////////////

.jumbotron {
  background-color: #ffffff;
}

///////////////text///////////////////

.bongsky-title {
  //@extend .display-4;
  text-align: center;
  font-family: 'Suranna';
  letter-spacing:3px;
  font-size: 45px!important;
}

.bongsky-p {
  @extend .lead;
  text-align: center;
  color: black;
  font-family: Karla;
  font-size: 16px!important;
}

.bongsky-p-date {
  @extend .bongsky-p;
  color: #a9a9a9;
  font-size: 12px!important;
  text-align: left;
}

.bongsky-p-updates {
  @extend .bongsky-p;
  text-align: left;
  line-height: 1.0!important;
}

.map-icon-link-div {
  width: 200px;
}

.map-icon-link-p {
  font-family: Karla;
  font-size: 16px!important;
}

.map-icon-p {
font-family: Karla;
  font-size: 14px!important;
  word-wrap: normal;
}

///////////////boxes/////////////////

.contact-box {
  width: 375px;
  height: 300px;
}

//////////////table///////////////////

.bongsky-table {
  display:table;
  margin: auto;
}

////////////image-fadein/////////////
.star {
  visibility: hidden;
}

.fadeIn {
  -webkit-animation: animat_show 0.8s;
  animation: animat_show 0.8s;
  visibility: visible !important;
}

@-webkit-keyframes animat_show{
  0%{opacity:0}
  100%{opacity:1}
}

#smiley{
  margin: 50px auto 80px;
  width: 1132px;
  height: 300px;
}

#smiley #star{
  display: none;
  float: left;
  height: 300px;
  width: 1132px;
}

#smiley #star img.star{
  display: block;
  float: left;
  width: 300px;
  margin: 50px 38px 0px;
}

////////////////ALERT//////////////

.alert {
  margin-top: 60px;
}