.card {
	background: white;
	position: relative;
    text-align: center;
    padding-top: 1px;
	padding-bottom: 1px;
}

.card a {
	color: white;
	//text-decoration: none;
	font-family: Suranna;
	text-shadow: 4px 4px 4px black;
}

.card a:hover {
	box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}

.p-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.smalls {
	width: 100%;
}

/* Flexbox stuff */

@media screen and (min-width: 1200px) {
	.card a {
	    font-size: 4.5em;
	    line-height: 0.8;
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	.card a {
	    font-size: 3.5em;
	    line-height: 0.85;
	}
}

@media screen and (min-width: 751px) and (max-width: 991px) {
	.card a {
	    font-size: 3.0em;
	    line-height: 0.9;
	}
}

@media screen and (min-width: 424px) and (max-width: 750px) {
	.card a {
	    font-size: 2.5em;
	    line-height: 1.0;
	}
}

@media screen and (max-width: 423px) {
	.card a {
	    font-size: 2.0em;
	    line-height: 1.0;
	}
}

@media screen and (min-width: 424px) {
    .smalls {
        display: flex;
    }

    .small {
        flex: 0 1 calc(33.333333333%);
    }

    .frontLeft {
        padding-right: 1px;
    }

    .frontMiddle {
        padding-left: 1px;
        padding-right: 1px;
    }

    .frontRight {
        padding-left: 1px;
    }
}